## ─────────────────────────────────────────────
## Project Root & Directories
## ─────────────────────────────────────────────

export PROJECT_ROOT="${PWD}"
export PROJECT_NAME=$(basename "$PWD")

export PROJECT_BIN_DIR="$PROJECT_ROOT/bin"

## ─────────────────────────────────────────────
## Project Binaries & Scripts
## ─────────────────────────────────────────────

add_to_path() {
  if [ -d "$1" ] && [[ ":$PATH:" != *":$1:"* ]]; then
    export PATH="$1:$PATH"
  fi
}
add_to_path "$PROJECT_BIN_DIR"


## ─────────────────────────────────────────────
## Cpp and QT Environment Setup
## ─────────────────────────────────────────────
